<div style="margin: 32px 24px">
  <img
    src="https://bonbon.oss-cn-shanghai.aliyuncs.com/problem_resolver/logo.svg"
    style="padding-bottom: 32px"
  />
  <hr />
  <div style="padding: 32px 24px">
    <div>
      <span>尊敬的用户：您好！</span>
    </div>
    <div style="padding: 32px 0">
      <span>
        您正在进行<strong style="padding: 0 8px">忘记密码</strong
        >操作，请在点击以下按钮或复制链接到浏览器完成操作：
      </span>
    </div>
    <div>
      <a
        style="
          border: 1px solid;
          padding: 6px 8px;
          border-radius: 4px;
          color: #fff;
          background-color: #0091ff;
          cursor: pointer;
          text-decoration: none;
        "
        href="{{ url }}"
        target="_blank"
        >忘记密码</a
      >
    </div>
    <div style="font-size: 16px; margin-top: 32px"><span>{{ url }}</span></div>
    <div style="padding-top: 32px; font-size: 12px; color: #aaa">
      注意：此操作和可能会修改您的密码、登录邮箱或绑定手机。如非本人操作请忽略本邮件，并及时登录并修改密码以保证账号安全。
    </div>
  </div>
  <hr />
  <div
    style="padding-top: 32px; padding-left: 24px; font-size: 12px; color: #aaa"
  >
    <div>此为系统邮件，请勿回复</div>
    <div>请保管好您的邮箱，避免账号被他人盗用</div>
    <div>小镇做题家 Problem Resolver</div>
  </div>
</div>
